:root {
    --primary: #210070;
    --secondary: #37C4B4;
    --hover: #ff9000;;
}

/* Reset some default styles */
p, h1, h2, h3, h4, ul, li {
    margin-top: 30px;
    padding: 0;
}

/* Apply a background color and font family to the body */
body {
    margin: 0;
    padding: 0;
    font-family: Verdana;
}

/* Ensure padding is included in the element's total width */
* {
    box-sizing: border-box;
}

/* Style the unified header */
.header {
    background-color: var(--primary);
    color: #fff;
    text-align: center;
    padding: 0 20px;
    position: fixed;
    width: 100%;
    height: 55px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



#navigation{
    background-color: var(--secondary);
    text-align: center;
    padding: 0 20px;
    position: fixed;
    top: 50px;
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Style the header title */
.header h1{
    font-size: 24px;
    margin: 5px;
}

#toggle-button {
  background-color: var(--primary);
  border: none;
  cursor: pointer;
  margin: 10px;
}

/* Style the navigation links */
#navigation a {
background-color: var(--secondary);
color:#fff;
  font-size: 15px;
  text-decoration: none;
  padding: 0;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  margin: 10px;
}

/* Style the navigation links on hover */
#navigation a:hover {
    color: var(--hover);
    transform: scale(1.05);
}

/* Style the content section */
.contenu_princ {
    padding: 100px 10px;
    background-color: #fff;
    margin: 0px auto;
    max-width: 1500px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contenu_princ a{
    color: var(--primary);
}

.contenu_princ a:hover{
    color: var(--hover);
}

/* Style the section titles */
.contenu_princ h2 {
    font-size: 20px;
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
}

/* Add a line above the titles for decoration */
.contenu_princ h2::before {
    content: "";
    display: block;
    width: 80px;
    height: 6px;
    background-color: var(--secondary);
    margin: 10px auto;
}

/* Add a line underneath the titles for decoration */
.contenu_princ h2::after {
    content: "";
    display: block;
    width: 80px;
    height: 6px;
    background-color: var(--secondary);
    margin: 10px auto;
}


/* Style the subsection titles */
.contenu_princ h3 {
    font-size: 15px;
    margin: 20px 0;
    padding-left: 10px; /* Adjust padding to create space for the line */
    border-left: 10px solid var(--secondary); /* Add the vertical line */
    text-transform: uppercase;
}


/* Style the publication titles */
.publication-title {
    font-style: italic;
}

/* Style the journal names */
.journal-name {
    font-style: italic;
}

/* Style the unordered and ordered lists */
ul, ol {
    padding-left: 20px; /* Add left padding to create space */
    margin-bottom: 20px; /* Add bottom margin for additional spacing between lists */
}

/* Style list items */
li {
    margin: 10px 0; /* Add margin between list items */
}

/* Style nested lists */
ul ul, ol ol {
    padding-left: 20px; /* Add left padding to create space for nested lists */
    margin-bottom: 10px; /* Add bottom margin for spacing between nested lists */
}


/* Style the abstract button */
.abstract-btn {
    background-color: var(--secondary);
    color: white;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.abstract-btn:hover {
    background-color: var(--hover);
}

/* Style the abstract content */
.abstract-content {
    display: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out, opacity 0.3s ease-out;
    opacity: 0;
}

.abstract-content p {
    margin: 10px 0;
}

/* Show the abstract when the button is clicked */
.abstract-content.show {
    display: block;
    max-height: 200px; /* Set a max height to create the sliding effect */
    opacity: 1;
}

.link-button {
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.link-button:hover {
    background-color: var(--hover);
}